@import "reset";
@import "fonts/fonts";
@import "variables/global";
@import "./themes/dark";
@import "./themes/light";

body {
	min-width: 320px;
	overflow: hidden;
}

.app {
	position: relative;
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primary-color);

	min-height: 100vh;
	overflow: hidden;
}

.page-content {
	display: flex;
}

.page-wrapper {
	flex-grow: 1;
	padding: 20px;
}