/* stylelint-disable color-function-notation */
.modal {
	pointer-events: none;

	position: fixed;
	z-index: -1;
	inset: 0;

	display: grid;
	place-items: center;

	color: var(--modal-text-color);

	opacity: 0;

	transition: opacity 0.3s, z-index 0s 0.3s;
}

// .modal.app_dark_theme {
	// --bg-color: 
	// --primary-color: rgb(255, 255, 255);
// }

// .modal.app_light_theme {
// 	--bg-color: #e8e8ea;
// 	--primary-color: #7376ff;
// }



.content {
	transform: scale(0.5);

	max-width: 60%;
	padding: 20px;

	background: var(--modal-bg);
	border-radius: 12px;

	transition: 0.3s transform;
}

.opened {
	pointer-events: auto;

	z-index: var(--modal-z-index);

	opacity: 1;

	transition: opacity 0.3s, z-index 0s;

	.content {
		transform: scale(1);
	}
}

.isClosing {
	.content {
		transform: scale(0.2);
	}
}
