.navbar {
	position: relative;

	display: flex;
	align-items: center;

	width: 100%;
	height: var(--navbar-height);
	padding: 20px;

	background: rgb(105 114 205, 5%);
}

.switchers {
	position: absolute;
	top: 20px;

	display: flex;
	gap: 50px;
	justify-content: center;
}

.loginBtn {
	margin-left: auto;
}
