.navbar {
	position: relative;
	width: 100%;
	height: var(--navbar-height);
	padding: 20px;
	display: flex;
	align-items: center;
	background: rgb(105 114 205 / 5%);
}

.switchers {
	position: absolute;
	top: 20px;
	display: flex;
	justify-content: center;
	gap: 50px;
}

.loginBtn {
	margin-left: auto;
}
