.elipse {
	position: absolute;
	transform: rotate(-39.28deg);

	width: 30%;
	height: 20%;

	filter: blur(166.592px);
}

.elipse1 {
	top: 157.8px;
	left: -54px;

	background: var(--elips1-bg);
}

.elipse2 {
	bottom: -220px;
	left: 50%;

	background: var(--elips2-bg);
}

.elipse3 {
	top: 675.8px;
	right: -220px;

	background: var(--elips3-bg);
}
