.Overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	background-color: var(--overlay-color);
	cursor: pointer;
	z-index: var(--overlay-z-index);
}

// .overlay {
// 	display: grid;
// 	place-items: center;

// 	width: 100%;
// 	height: 100%;

// 	background: var(--overlay-color);
// }